<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="app.views.layout.navigate as vm">
    <div class="nav-close">
        <i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="~/Abp/UI/img/profile_small.jpg" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs"><strong class="font-bold">{{vm.getShowUserName()}}</strong></span>
                            <span class="text-muted text-xs block">{{vm.getShowUserRole()}}<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>
                            <a class="J_menuItem" href="form_avatar.html">修改头像</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="profile.html">个人资料</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="contacts.html">联系我们</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="mailbox.html">信箱</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout","Account")">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    H+
                </div>
            </li>
            <li ng-repeat="menuItem in vm.menu.items" ng-class="{active:vm.currentMenuName == menuItem.name}">
                <a href="{{menuItem.url}}">
                    <i class="{{menuItem.icon}}"></i>
                    <span class="nav-label">{{menuItem.displayName}}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li ng-repeat="menuSubItem in menuItem.items">
                        <a class="J_menuItem" href="{{menuSubItem.url}}">{{menuSubItem.displayName}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>